@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 15rem;
  margin-bottom: 1.5rem;
}


.header-img {
  width: 17rem;
  margin-bottom: 1.5rem;
}

.background-gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #bdc3c7, #2e557c, #285c72, #203a43, #2c5364, #483caf, #5f59a1, #24243e);
  background-size: 300% 300%;
  animation: backgroundAnimation 10s ease-in-out infinite;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.image-subtitle {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  width: 15em;
  animation: type 1.5s steps(100, end);
}

@keyframes type {
  from {
    width: 0;
  }
}


.links-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1rem;
}

.links-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.links-content:hover {
  transform: scale(1.1)
}

.links-img {
  width: 4rem;
  margin-bottom: .5rem;
}