@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  font-family: 'Patrick Hand', cursive;
}

.icons-img {
  width: 1.4rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 15rem;
  margin-bottom: 1.5rem;
}


.image-pc {
  width: 17rem;
  margin-bottom: 1.5rem;
}

li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.icons {
  margin: 2rem;
  position: absolute;
}

.gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #bdc3c7, #2e557c, #285c72, #203a43, #2c5364, #483caf, #5f59a1, #24243e);
  background-size: 300% 300%;
  animation: colors 10s ease-in-out infinite;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#title {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  width: 15em;
  animation: type 1.5s steps(100, end);
}

@keyframes type {
  from {
    width: 0;
  }
}


.buttons-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1rem;
}

.link-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.link-title:hover {
  transform: scale(1.1)
}

.img-links {

  width: 4rem;
  margin-bottom: .5rem;
}

footer {
  padding-right: 1rem;
  position: absolute;
  bottom: 0;
  color: #FFF;
  width: 100%;
  height: 40px;
  text-align: right;
  text-decoration: underline;
  letter-spacing: 2px;
}

.btn {
  width: 7rem;
  height: 4rem;
  border: none;
  outline: none;
  color: #000;
  background: #000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: .5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.btn:before {
  content: '';
  background: linear-gradient(45deg, black, grey, white, grey, black, grey, white);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn:active {
  color: #fff
}

.btn:active:after {
  background: transparent;
}

.btn:hover:before {
  opacity: 1;
}

.btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.pulse {
  animation: pulse 1s ease infinite;
}

.pulse:hover {
  color: #fff;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}